.todoContainer {
    padding: 1rem;
}

.mainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.dateBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.currentDate {
    display: inline-block;
    margin-bottom: 1rem;
    padding: .5rem;

    border: 1px solid #4b00ff;
    border-radius: 5px; 
}

/* Input */

.todoInput {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.inputInner {
    padding: 0.5rem;
    min-width: 300px;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.inputIcon {
    padding: 0.5rem;

    color: #4b00ff;
    cursor: pointer;
}

/* Task */

.todoItem {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.todoItemRight {
    display: flex;
}

.todoItemRight input {
    margin-right: 0.5rem;
}

/* Delete */

.deleteIcon {
    color: #4b00ff;
    cursor: pointer;
}

/* Toggle tasks */

.completed {
    text-decoration: line-through;
}

/* Bottom */

.bottom {
    display: flex;
    justify-content: space-between;
}

.lengthTask {
    padding: .5rem;

    border: 1px solid #4b00ff;
    border-radius: 5px;
}

.cleanAll {
    padding: .5rem;

    border: 1px solid #4b00ff;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color .2s linear;
}

.cleanAll:hover {
    background-color: #dcd3f3;
}

